.home-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f6f9;
}

.welcome-box{
    text-align:center;
    padding:40px;
    background:white;
    border-radius:10px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.2);
}

.welcome-box h1{
    margin-bottom:15px;
    color:#007bff;
}

.welcome-box p{
    font-size:18px;
    color:#555;
}